<div class="blog-header">
  <div class="container blog-hcenter">
    <h3 class="masthead-brand blog-head-mt"><%= link_to "Program to Pro Developer", blogs_path, class: 'nav-link blog-hcolor'   %></h3>
    <p class="lead blog-description blog-margin-t">Helping you become a software developer.</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
  </div>
</div>

