<div class="blog-masthead">
  <div class="container blog-special">
    <nav class="nav blog-nav d-flex align-items-center justify-content-center">
      <h3 class="masthead-brand"><%= link_to "Everywhere Software", root_path, class: 'nav-link blog-hcolor'   %></h3>
      <%#= link_to "Home", root_path, class: 'nav-link blog-hcolor'   %>
      <%=  nav_helper 'nav-link blog-hcolor', 'span' %>
      <%= login_helper 'nav-link blog-hcolor' %>
    </nav>
  </div>
</div>


