<div class="blog-header">
  <div class="container blog-hcenter">
    <h3 class="masthead-brand blog-head-mt blog-hsize">Program to Pro Developer</h3>
    <p class="lead blog-description blog-margin-t blog-hsize2">Helping you become a software developer.</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path, class: 'text-new-h' if logged_in?(:site_admin) %>
    </span>
  </div>
</div>
