<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio</h1>
    <p class="lead text-muted">A great website can lead to a thriving business. It's important to design that <b class="text-warning">software</b> exactly how you want it. Let imagination take you <b class="text-warning">everywhere</b>.</p>
    <p>
      <%=	 link_to 'Find out More', about_me_path, class: 'btn btn-warning' %>
      <%=	 link_to 'Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>