<footer class="text-muted ">
  <div class="container">
    <p class="text-center">
      <%=	 link_to "View All Portfolio Items", portfolios_path, class: 'text-new-bg mastfoot2' %> /
      <a href="#" class="text-new-bg mastfoot2">Back to top</a>
    </p>
    <hr>
    <p class="text-center mastfoot">
      <%=	 @copyright %>
    </p>
  </div>
</footer>