<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading blog-hsize4">Portfolio</h1>
    <p class="lead text-muted main-header-outline">This portfolio includes full-stack applications and static websites. Visit the show page for website examples. For custom projects, email
      <a href="mailto:dontrellthedeveloper@hotmail.com?subject=PortfolioContact" class="text-new-bg">dontrellthedeveloper@hotmail.com</a>.
    </p></p>
    <p>
      <%=	 link_to 'More Info', about_me_path, class: 'btn btn-info btn-size1' %>
      <%=	 link_to 'Dev Blog', blogs_path, class: 'btn btn-info btn-size1' %>
    </p>
  </div>
</section>