<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio</h1>
    <p class="lead text-muted">A great website can lead to a thriving business. With so many complex businesses in today's market, it's important that you find <b class="text-warning">software</b> designed exactly how you want it. Take a look at our websites below. For custom projects, <a href="mailto:dontrellthedeveloper@hotmail.com?subject=PortfolioContact" class="text-muted">send me an email</a>. Let your imagination take you <b class="text-warning">everywhere</b>.</p>
    <p>
      <%=	 link_to 'Find out More', about_me_path, class: 'btn btn-warning' %>
      <%=	 link_to 'Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>