

<hr>

<div class="row">
  <div class="col-md-4">

    <%=	 image_tag "IMG_5393.jpeg", width: 260, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <h1>About Me</h1>
    <hr>
    <p><b>Everywhere Software</b> is a technology company founded by Dontrell Washington.</p>
    <hr>
    <p> My goal is simplifying the relationship between client and developer. Too often, developers fail to communicate with clients throughout the development stages of a project, resulting in a product that fails to reach the customer's end goal.</p>
    <p>For this reason, I utilize a development pattern that focuses on constant communication and transparent design templates. My projects are crafted to the client's specifications by giving daily updates. This ensures a product aligning with the client's objective. The end result is the right product.</p>
  </div>
</div>


