<div class="about-foot-n">
  <div class="app-card-container">
    <div class="card outline-about">
      <h1 class="text-center">About Me</h1>
      <hr>
      <div class="row">
        <div class="col-md-4 text-center">
          <%= image_tag "IMG_5281.jpeg", width: 260, alt: "profile image", class: 'profile-img' %>
        </div>


        <div class="col-md-8">
          <p class="text-center">Everywhere Software is a technology company founded by Dontrell Washington.</p>

          <p class="text-center"> My goal is simplifying the relationship between client and developer. Too often,
            developers fail to
            communicate with clients throughout the development stages of a project. The result is a product that fails to reach the customer's end goal.</p>
          <p class="text-center">For this reason, I focus on constant communication and transparent design templates. Portfolio websites and custom applications are crafted to the client's specifications by giving daily updates. This ensures a product that aligns with their plan. </p>
          <hr>
          <p class="text-center">Interested in working together?
            <a href="mailto:dontrellthedeveloper@hotmail.com?subject=PortfolioContact" class="text-info"> Send me an Email</a>.

          <p class="text-center">
            <button
              class="btn btn-info"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controls="jobHistory"
            >
              Job History
            </button>


            <button
              class="btn btn-info"
              type="button"
              data-toggle="collapse"
              data-target="#languages"
              aria-expanded="false"
              aria-controls="languages"
            >
              Languages
            </button>

            <button
              class="btn btn-info"
              type="button"
              data-toggle="collapse"
              data-target="#otherskills"
              aria-expanded="false"
              aria-controls="otherskills"
            >
              Other Skills
            </button>
          </p>

          <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-body">
                <p>
                  Web Developer <br>

                  Everywhere Software <br>
                  Current
                </p>
                <hr>
                <p>

                  My target is businesses who want to enhance their website. In today's economy, having a user experience that mirrors popular websites is vital. The <a href="http://www.everywheresoftware.com/portfolios" class="text-info">portfolio</a> has tons of templates to choose from. If no templates match your business, simply draw a blueprint of what you want and <a href="mailto:dontrellthedeveloper@hotmail.com?subject=PortfolioContact" class="text-info">contact me</a> for more details on custom websites. If you plan on getting into software development, check out the <a href="http://www.everywheresoftware.com/blogs" class="text-info">blog</a>. As I've grown as a developer, it's noticeable how much research is done on a daily basis. The blog is filled with resources on topics you're going to run across. The blog also has code examples to show you exactly how the code should look in your text editor.
                </p>
                <p>
                  On a personal note, the world of web development and software engineering is huge in my life today. I started Everywhere Software to express my passion for building software. As a creator who's loves math, building software
                  is the perfect mix of creativity and logic.
                </p>

            </div>
            <div class="card card-body">
                <p>
                  3rd Grade Elementary School Teacher <br>

                  Broward County Public Schools

                </p>
                <hr>
                <p>
                  From lesson planning to student's academic achievement, teaching requires full commitment and dedication to your job. On a daily basis, hitting goals are paramount. Its also vital to have an energetic and positive personality. Your days are spent making sure student's identify their potential and its best to do that with a positive personality. These traits can translate to any field.
                </p>
                  <p>
                    Teaching will also enhance your soft skills. Its part of your job to be on the same page with parents, administration, and other teachers on your team. Constant communication on how you plan to get from point A to B also translates to most fields.
                  </p>
              </div>

          </div>


          <div class="collapse" id="languages">
            <div class="card card-body">
              <p>
                Ruby on Rails
              </p>
              <hr>
              <p>
                If I'm choose the language, Rails is my choice. This website was actually build using Ruby on Rails. I like Rails MVC pattern setup and Sass implementation for professional organization. Most of my favorite websites were built using it. Hulu, Bleacher Report, Github, and Twitter are all websites I use that were of built using Rails. The use of Rubygems are also great to enhance the capabilities of your application.
              </p>
            </div>
            <div class="card card-body">
              <p>
                Javascript
              </p>
              <hr>
              <p>
                Like most, javascript was my first language. If you're new to coding, I would recommend starting with it. Its the top language used and can handle both front-end and back-end development. Angular and React are two popular frameworks many developers use. For single page applications, Angular is my choice. Javascript can also handle back-end development. It uses a javascript runtime environment called Node.js for client-side scripting. Some popular websites and phone apps that use Angular and Reacts are Facebook, Instagram, Airbnb, Paypal and Netflix. As you can see, many successful companies rely on javascript and it's continuing to grow with new frameworks and libraries being introduced every year.

              </p>
            </div>
            <div class="card card-body">
              <p>
                PHP
              </p>
              <hr>
              <p>
                When first learning PHP, I was impressed with how easy it was to embed code into my HTML. The way the tools are implemented in PHP allow me to speed up my production time. Database management is also simple to manage. Overall it's probably the easiest back-end language to learn. Another positive is the community size. Most questions you have are answered on StackOverflow or a Github thread. Some popular websites that use PHP as their back end language are Facebook, Wikipedia, Yahoo, Tumblr, and Wordpress.
              </p>
            </div>
            <div class="card card-body">
              <p>
                Swift
              </p>
              <hr>
              <p>
                 Swift is a language created by Apple that used an IDE called Xcode to build its application. I've been using iOS and OSX for over a decade so learning Swift was definitely a priority. If you plan on releasing an app in Apple's app store, Xcode is simple the best program to use. There are cross platform applications that allow you to deploy your app to Apple's AppStore and Google's PlayStore, but they don't have the extra features built into Xcode. Xcode also allows you to draw your view as opposed to just using HTML, CSS, & JS.
              </p>
            </div>
            <div class="card card-body">
              <p>
                Java
              </p>
              <hr>
              <p>
                Java helped me understand object oriented programming. I also lean towards Java when practicing Data Structures & Algorithms. The language has a huge community. Stack Overflow has tons of threads answering Java questions. Lastly, if you develop android apps Java should be your language of choice.
              </p>
            </div>
          </div>

          <div class="collapse" id="otherskills">
            <div class="card card-body">
              <p>
                Sound Engineering
              </p>
              <hr>
              <p>
                During my late teens and early twenties, I did work as a mixing engineer. I have experience with Pro Tools, Logic Pro, Cubase, and FL Studio with tons of knowledge about sound compression, equalization, delay, reverb, etc. Over the past few decades, music recording has shifted from analog to digital, causing computer code to be a huge part of the industry's growth. Trying to build my own music plug-ins is how I was introduced to building software and writing code.
              </p>
            </div>

          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>





