<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Controlling complexity is the essence of computer programming. My projects are designed in a well crafted manner, ensuring each stage of the process is communicated.</p>
  <p class="lead">
    <%=	 link_to "Learn", blogs_path, class: "btn btn-lg btn-secondary" %>
    <%=	 link_to "Work", portfolios_path, class: "btn btn-lg btn-dark" %>
  </p>
</div>



