<div class="inner cover homepage-margin">

  <hr>
  <p class="lead footer-color-m">Having a great website can lead to a thriving business. Users want an experience that guides them through the website. Controlling this complexity is the essence of computer programming. </p>



    <hr>

    <p class="lead">
      <%= link_to "Blog", blogs_path, class: "btn btn-lg btn-outline-secondary" %>
      <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-outline-dark" %>
    </p>

  <hr>

  <p class="lead footer-color-m"> To see website templates and get more information about designs, visit the portfolio. For future developers, head to the blog.</p>

  <hr>


</div>



