<div class="inner cover homepage-margin">

  <hr>

  <p class="lead main-header-outline">Having a great website can lead to a thriving business. To see website templates and get more information about designs, visit the portfolio. If you're interested in web development, head to the blog.</p>


    <hr>

    <p class="lead">
      <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-info" %>
      <%= link_to "Blog", blogs_path, class: "btn btn-lg btn-info" %>
    </p>



</div>



