<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Controlling complexity is the essence of computer programming. Our projects are designed to deliver a well crafted product and to ensure each stage of the process is communicated.</p>
  <p class="lead">
    <%=	 link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



