<div class="inner cover">

  <hr>
  <p class="lead footer-color-m">A great website can lead to a thriving business. Users want an intuitive experience
    that will guide them through the website. Controlling this complexity is the essence of computer programming.</p>
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron p-3 text-white rounded home-blogs-c">
          <div class="px-0">
            <h3 class="">Web Development Complete Guide 2019</h3>
            <p class="lead my-3">This blog post covers 8 essential topics on web development. I also discuss the 3 paths
              most developers take when starting a career in software development.</p>
            <p><%= link_to "Continue reading...", "https://everywhere-software-portfolio.herokuapp.com/blogs/my-great-blog", class: 'lead mb-0 text-white font-weight-bold' %></p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <hr>
  <p class="lead">
    <%= link_to "Blog", blogs_path, class: "btn btn-lg btn-outline-dark" %>
    <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-outline-dark" %>
  </p>



</div>



