<div class="inner cover tech-page-m">
  <h1 class="cover-heading tech-page-h footer-color-m blog-hsize4">Tech News</h1>


  <div class="row">
    <% @tweets.each do |tweet| %>
      <div class="col-md-4">
        <div class="tech-news">
          <div class="card outline-about">
            <%= twitter_parser tweet %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

