@import "bootstrap";
@import "gritter";

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


nav {
   background-color: #1b1e21;
 }



.btn-info {
  background-color: #b9d0df !important;
  border-color: black;
  color: black !important;
}

.btn-info:hover {
  background-color: #8096a5 !important;
  border-color: black;
}

.btn-info:active {
  background-color: #8096a5 !important;
  border-color: #8096a5;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

.row.carousel-inner {
  margin: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
  overflow: hidden;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  overflow: hidden;
}

.carousel-inner .carousel-item {
   transition: -webkit-transform 1s ease;
   transition: transform 1s ease;
   transition: transform 1s ease, -webkit-transform 1s ease;
 }

@media screen and (max-width: 640px) {
  .c-title {
    font-size: 30px;
  }
  .c-caption {
    font-size: 15px;
  }

  .btn-size1 {
    width: 125px;
    font-size: .9rem;
  }
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  border-top: 1px solid #1b1e21;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 600;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette {
  text-align: center;
}

.featurette-heading {
  //font-size: 50px;
  //text-decoration: underline;
}

.featurette-text {
  font-size: 1.05em;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }


}

@media (min-width: 62em) {
  .featurette-heading {

  }
}







/// From Blog

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

body {
  font-family: 'Lato', sans-serif;
}



.blog-header-logo {
  font-family: 'Lato', sans-serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  line-height: 2;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
  text-align: center;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
  text-align: center;
}

/*
 * Footer
 */
.blog-footer {
  margin-top: 75px;
  padding: 1.25rem 0;
  color: #9eb7c8;
  text-align: center;
  background-color: #1b1e21;
  border-top: .05rem solid #1b1e21;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-special {

}

.blog-hcolor {
  color: black;
}

.blog-colorred {
  color: #eb0000;
}

.blog-colorlightblue {
  color: dodgerblue;
}

.blog-colorblue {
  color: #0000b8;
}

.blog-hcenter {
  margin-bottom: 20px;
  text-align: center;
}

.blog-margin-t {
  margin-top: 10px;
  margin-bottom: 40px;
}

.main-margin-t {
  margin-top: 40px;
}

.blog-head-mt {
  margin-top: 15px;
}



.social-links li {
  font-size: 2.5em;
}

.comment-card > .card {
  margin-top: 15px;
}

.comment-attribution {
  font-size: .8em;
  font-style: italic;
  margin-top: 8px;
}

.comment-name {
  font-weight: 700;
}

.blogcrumb a {
  font-size: 1.25em;
  margin: 0px 10px 0px 10px;
}

.blog-sidebar-source {
  margin-top: 20px;
}

img[alt="minipic"] {
  max-width: 100%;
  display: block;
}

.blog-htitle {
  color: #1b1e21;
  font-size: .8em;
}

.blog-main {
  line-height: 2;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url("https://i.ibb.co/bm4HCdh/luca-bravo-217276-unsplash.jpg");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.home-hover-c:hover {
  color: #e7e7e7 !important;
}

.navbar-toggler-icon {
  color: #9eb7c8;
}

.blog-hcolor {
  color: #1d1d1d;
}

.blog-hcolor:hover {
  color: #e2e2e2;
}

.text-new-bg {
  color: #b9d0df !important;
}

.text-new-h {
  color: #aec4d2 !important;
  text-decoration: none !important;
}

.just-a-color {
  color: #92a5b4 !important;
}

.just-a-color-2 {
  color: #93a5b3 !important;
}

.just-a-color-2:hover {
  color: #c6deeb !important;
}



.text-new-h:hover {
  color: #74808d !important;
}

.text-new-bg:hover {
  color: #cae3f2 !important;
}

p a {
  color: #607485;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #aec4d2;
}

p a:hover {
  color: #74808d;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #74808d;
}



@media (max-width: 768px) {

  .blog-hsize {
    font-size: 1.3rem;
  }

  .blog-hsize2 {
    font-size: 1rem;
  }

  .blog-hsize3 {
    font-size: 1.2rem;
  }

  .blog-hsize4 {
    font-size: 1.7rem;
  }

  .blog-hsize5 {
    font-size: 1.1rem;
  }

  .home-hover-c {
    font-size: 1.05rem;
  }

  .blog-footer {
    font-size: .85rem;
  }

  .blog-post-title {
    font-size: 1.8rem;
  }

  .blog-post-meta {
    font-size: .8rem;
  }

}

/*
* Custom Styles
*/

.card-body {
  color: black;
  text-align: left;
}

.outline-about {
  outline: 2px solid black;
}

.outline-login {
  outline: 3px solid black;
  margin-top: 11rem;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}


.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.pword-footer {
  margin-top: 11rem;
  margin-bottom: 310px;
}

.sup-footer {
  padding-bottom: 243px;
  width: 60rem;
  margin: 0 auto;
}

.mastfoot {
  position: fixed;
  bottom: 0;
  z-index: -100;
  width: 100%;
}

.about-foot-n {
  margin-top: 3rem;
  padding-bottom: 148px;
}

.app-card-container {
  color: black;
  text-align: left;
  outline: 1px solid black;
}

.app-card-container > .card {
  padding: 40px;
}

.profile-img {
  border: 1px solid grey;
}

.app-card-container a {
  color: blue;
}

.card-body {
  margin-top: 5px;
  margin-bottom: 5px;
}

.skill {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sticky-vh {
  position: sticky;
  top: 0;
  z-index: 100;

}

.image-nav img {
  width: 65px;
  height: auto;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}


@media (min-width: 768px) {
  .logo-font-s {
    font-size: 17px !important;
  }
}

@media (max-width: 768px) {
  .logo-font-s {
    margin-right: 25px;
  }
}




